<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <h3>Angular 9 Reactive Form Validation</h3>            
            <hr>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Title*</label>
                    <select class="form-control" 
                    id="title"
                    formControlName="title">
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                    </select>
                    <p class="help-block" 
                    *ngIf="!signUpForm.get('title').valid && signUpForm.get('title').touched">This field is required!</p>      
                </div>

                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="fullname">Full Name*</label>
                        <input 
                        type="text" 
                        id="fullname" 
                        class="form-control"
                        formControlName="fullname">
                        <p class="help-block" 
                        *ngIf="!signUpForm.get('userData.fullname').valid && signUpForm.get('userData.fullname').touched">Please enter your name.</p>
                    </div>
    
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input 
                        type="email" 
                        id="email" 
                        class="form-control"
                        formControlName="email">
                        <p class="help-block" 
                        *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched">Please enter a valid email!</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="createpassword">Password*</label>
                    <input 
                    type="password" 
                    id="createpassword" 
                    class="form-control"
                    formControlName="createpassword">                    
                    <p class="help-block" 
                    *ngIf="signUpForm.get('createpassword').hasError('required') && signUpForm.get('createpassword').touched">Password must be at least 8 characters long.<br> It should contain one number, one character and one special character.
                    </p>    
                </div>

                <div class="form-group">
                    <label>Gender*</label>
                    <div class="radio">
                        <label>
                            <input type="radio" value = "Male" formControlName="gender">Male
                        </label>
                        <label>
                            <input type="radio" value = "Female" formControlName="gender">Female
                        </label>
                        <label>
                            <input type="radio" value = "Others" formControlName="gender">Others
                        </label>
                    </div>
                </div>

                <p class="help-block" 
                    *ngIf="!signUpForm.valid && signUpForm.touched"><b>All fields are required!</b></p>

                <button type="submit" class="btn btn-primary"
                [disabled]="!signUpForm.valid">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div class="form-group" *ngIf="submitted">
                <hr>
                <h3>Your details:</h3>
                <p>Title: {{ userDetails.title}}</p>
                <p>Full Name: {{ userDetails.fullname}} </p>
                <p>Email: {{ userDetails.email}}</p>
                <p>Gender: {{ userDetails.gender}}</p>
            </div>
        </div>
    </div>
</div>